<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
    <target name="LogFile" xsi:type="File"
            
            layout="${longdate}|${level:uppercase=true:padding=-5:fixedlength=true}|${logger:padding=30:fixedlength=true:alignmentOnTruncation=right}| ${message}"
            fileName="${basedir}/logs/TelegramBot.${shortdate}.log"
            archiveFileName="${basedir}/logs/archives/TelegramBot.{#}.gz"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"
            enableArchiveFileCompression="true" />

    <wrapper-target xsi:type="AsyncWrapper" name="asyncLogFile">
	    <target xsi:type="RetryingWrapper">
		    <target-ref name="LogFile"/>
	    </target>
    </wrapper-target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="asyncLogFile" />
  </rules>

</nlog>